<div class="jumbotron">
  
  <h1 class="display-3"><b><%= t('about.header') %></b></h1><br>

  <% if user_signed_in? %> 
      <p class="lead"><b> <%= [t('about.greet1'), t('about.greet2'), t('about.greet3'), t('about.greet4'), t('about.greet5')][rand(5)] %>,
        <%= ["", "", "", t('about.greet_add')][rand(4)] %>
      <%= current_user.name%>  </b></p>
  <% end %>

  <p class="lead"><%= t('about.text.line1') %></p>
  <p class="lead"><%= t('about.text.line2') %></p>
  <p class="lead"><%= t('about.text.line3') %></p>
  <p class="lead"><%= t('about.text.line4') %></p>
  <p class="lead"><%= t('about.text.line5') %></p>
  <p class="lead"><%= t('about.text.line6') %></p>
  <p class="lead"><%= t('about.text.line7') %></p> 
  <p class="lead"><%= t('about.text.line8') %></p> 
  
 
  <!---
  <% if user_signed_in? %>
    <p class="lead"> А раньше я звал тебя "<%= current_user.email.capitalize.split("@")[0] %>"... </p> 
  <% end %>
   --->

  <hr class="my-4">
  
  <%= link_to t('about.button'), root_path , class:"btn btn-primary" %>



  
</div>



