<div class="jumbotron">
  
  <h1 class="display-3">Вроде как справка</h1>

  <% if user_signed_in? %> 
      <p class="lead"><b> <%= ["Здравствуй", "Хай", "Щалом", "Нихао", "Буэнос Диас"][rand(5)] %>,
        <%= ["", "", "", "товарищ"][rand(4)] %>
      <%= current_user.name%>  </b></p>
  <% end %>

  <p class="lead">В смысле - о чем это все вообще.</p>
  <p class="lead"> Здесь можно зарегистрироваться </p>
  <p class="lead"> Можно даже на левую почту </p>
  <p class="lead"> (Пардон, уже нельзя)</p>
  <p class="lead"> Можно выкладывать фотки </p>
  <p class="lead"> Короче, я стараюсь </p> 
  <br>
  <p class="lead"> А раньше я звал тебя "<%= current_user.email.capitalize.split("@")[0] %>"... </p> 
   

  <hr class="my-4">
  
  <%= link_to "На главную", root_path , class:"btn btn-primary" %>



  
</div>



