<div class="jumbotron">
	<h3><%= t('search.heading') %></h3>
	<br>
	<br>

	<%= form_for :search do |a| %> 
        
        <%= a.text_field :search_key %> <br><br>        
        
        <%= a.submit t('search.pic_search') , :class => "btn btn-primary" %>
        <%= a.submit t('search.user_search') , :class => "btn btn-primary" %>
    <% end %> 



</div>