<% @photos.each do |photo| %>
        
  <div class="card photo-card">
   <div class="card-body">

     <%= link_to (image_tag (photo.image.url(:medium))), photo %> <br>
     <strong><%= photo.description %></strong> <br>
     <%= link_to photo.user.name, profile_path(photo.user_id) if photo.user %> <br>
     <%= link_to 'Show', photo %> 
     <% if photo.user == current_user %> 
       | <%= link_to 'Edit', edit_photo_path(photo) %> |  
       <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
       <br>
     <% end %>
  
   </div>
  </div>
        
<% end %> <br> <br>


<div class="down-center">
  <div class="pagination">
    <%= will_paginate @photos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>


<% if user_signed_in? %>
<%= link_to 'New Photo', new_photo_path , class:"btn btn-primary" %>
<% end %>

</div>
