<div class="card photo-card">
  
  <div class="card-body">

<p>
  <%= image_tag @photo.image.url(:large) %> <br> <br>
  <strong><%= @photo.description %> </strong> <br>
  <td>By <%= @photo.user.name if @photo.user %></td>
</p>

<% if @photo.user == current_user %> 
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', photos_path %> 

</div>
</div>