
<% if user_signed_in? %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Sombrephoto", root_path, class:'nav-link, navbar-brand text-logo'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "container">
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav float-right">
      

      <li class="nav-item">
        <%= link_to t('navigation.upload'), new_photo_path , class:'nav-link ' %>
      </li>
      
      <li class="nav-item">
        <%= link_to t('navigation.friends_pics'), profiles_friends_photos_path, class:'nav-link ' %>
      </li>

        
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">
              <%= link_to t('navigation.my_pics'), profiles_my_photos_path, class:'drop-link ' %>
            </a>
            <a class="dropdown-item" href="#">
              <%= link_to t('navigation.subscriptions'), profiles_subscribes_list_path, class:'drop-link ' %>
            </a>
            
            <a class="dropdown-item" href="#">
              <%= link_to t('navigation.account'), edit_user_registration_path, class:'drop-link ' %>
            </a>
            <a class="dropdown-item" href="#">
              <%= link_to t('navigation.about'), pages_about_path, class:'drop-link ' %>
            </a>
            <a class="dropdown-item" href="#">
              <%= link_to t('navigation.quit'), destroy_user_session_path, method: :delete, class:'drop-link ' %>
            </a>

          </div>
        </div>
      </li>


      
    </ul>
  </div>
  </div>
</nav>


<% else %>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
 
  <%= link_to "Sombrephoto", root_path, class:'nav-link, navbar-brand text-logo landing-logo nav-unlogged'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "container">
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav float-right">
      
      <li class="nav-item">
        <%= link_to "Фотки", photos_path, class:'nav-link nav-unlogged' %>
      </li>
      <li class="nav-item">
        <%= link_to "Справка", pages_about_path, class:'nav-link nav-unlogged' %>
      </li>
      <li class="nav-item">
        <%= link_to "Вход", new_user_session_path, class:'nav-link nav-unlogged' %>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!--
<ul class="nav">
	  <li class="nav-item">
	    <%= link_to "Instaphoto", root_path %> 
	  </li>
	  <li class="nav-item">
	    <%= link_to "About", pages_about_path %>
	  </li>
	 </ul>
-->

<% end %>

