
<% if user_signed_in? %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Sombrephoto", root_path, class:'nav-link, navbar-brand text-logo'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "container">
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav float-right">
      
      <li class="nav-item">
        <%= link_to "Мои фотки", profiles_my_photos_path, class:'nav-link ' %>
      </li>
      <li class="nav-item">
        <%= link_to "Мои подписки", profiles_subscribes_list_path, class:'nav-link ' %>
      </li>
      <li class="nav-item">
        <%= link_to "Фотки друзей", profiles_friends_photos_path, class:'nav-link ' %>
      </li>

      <li class="nav-item">
        <%= link_to current_user.name, edit_user_registration_path, class:'nav-link ' %>
      </li>

      <li class="nav-item">
        <%= link_to "Фотки", photos_path, class:'nav-link ' %>
      </li>

      <li class="nav-item">
        <%= link_to "Справка", pages_about_path, class:'nav-link ' %>
      </li>
      
      <li class="nav-item">
        <%= link_to "Выход", destroy_user_session_path, method: :delete, class:'nav-link ' %>
      </li>
    </ul>
  </div>
  </div>
</nav>


<% else %>

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
 
  <%= link_to "Sombrephoto", root_path, class:'nav-link, navbar-brand text-logo landing-logo nav-unlogged'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "container">
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav float-right">
      
      <li class="nav-item">
        <%= link_to "Фотки", photos_path, class:'nav-link nav-unlogged' %>
      </li>
      <li class="nav-item">
        <%= link_to "Справка", pages_about_path, class:'nav-link nav-unlogged' %>
      </li>
      <li class="nav-item">
        <%= link_to "Вход", new_user_session_path, class:'nav-link nav-unlogged' %>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!--
<ul class="nav">
	  <li class="nav-item">
	    <%= link_to "Instaphoto", root_path %> 
	  </li>
	  <li class="nav-item">
	    <%= link_to "About", pages_about_path %>
	  </li>
	 </ul>
-->

<% end %>

