<!DOCTYPE html>
<html>
  <head>
    <title>Sombrephoto</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

    <%= if user_signed_in?
      if current_user.theme == 0
        stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
      elsif current_user.theme == 1
        stylesheet_link_tag    'application-dark', media: 'all', 'data-turbolinks-track': 'reload'
      end
    else
      stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    end%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	
  	<% if user_signed_in? %>

  	<div class="container-fluid  container-login bg-grad">
    <%= render "layouts/navigation" %>

  	<div class="container">
    
    <% else %>

    <div class="container-fluid container-background container-login">
    <%= render "layouts/navigation" %>

  	<div class="container">

    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  	<%= yield %>

    <p class="vf-sign">VF-2018</p>
    
    </div></div>
  </body>
</html>
