<!DOCTYPE html>
<html>
  <head>
    <title>Instaphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= link_to "Справка", pages_about_path %>
   <%= link_to "Главная", root_path %>   
   
    <%= yield %>

   <p><h6>VF fuflocoding 2018</h6></p>
  </body>
</html>
