<!DOCTYPE html>
<html>
  <head>
    <title>Instaphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-fluid container-background">
  	<div class="container">
    


	<ul class="nav">
	  <li class="nav-item">
	    <%= link_to "Instaphoto", root_path %> 
	  </li>
	  <li class="nav-item">
	    <%= link_to "About", pages_about_path %>
	  </li>
	 </ul>


	<%= yield %>

    <p><h6>VF-2018</h6></p>
    
    </div></div>
  </body>
</html>
